body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/*grid*/

.logo{
    display: flex;
    margin-top: 10px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.col-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.row-grid ul{
    margin-left: 10px;
}
.row-grid li{
    display: inline;
}
.row-grid a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: normal;
}


.col-grid-2{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: auto;
}

.row-grid-1 ul li{
    display: inline-block;
    float: left;
    border-right: 1px solid #717171;
    position: relative;
    z-index: 1;
    padding: 0 3px;
    text-decoration: none;
}

.row-grid-1 ul li a{
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 14px;
    font-family: proxima-nova,Roboto,Arial,san-serif;
}
.row-grid-1 li:last-child{
    border-right: none;
}


@media (max-width: 1025px){
    .logo{display: none}
    .row-1{display: none}
}



/*Navbar*/
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    color: #fff;
    padding: 8px;
    border-top: 3px solid #1fb25a;
}
.nav-mid, .navbar-list{
    justify-content: center;
}

.nav-right, .navbar-list_2{
    justify-content: right;
}
.menu{
    width: 20px;
    height: 24px;
    position: static;
    left:30px;
    padding-top: 7px;
    float: left;
    margin-right: 8px;
}

.button_menu{
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 0.6rem;
    font-family: proxima-nova,Roboto,Arial,san-serif;
    font-weight: normal;
    color: white;
    transition: color 0s;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.button_menu:hover {
    background-color: white;
    color: #222;
}

.nav-account{
    float: left;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-list li {
    margin-right: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.navbar-list li:last-child {
    margin-right: 0;
}

.navbar-list li a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.navbar-list li a:hover {
    color: #999;
}

.navbar-list li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: #fff;
}

.navbar-list_2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.navbar-list_2 li a{
    padding: 4px;
    padding-bottom: 5px;
}
.navbar-list_2 button{
    width: 100px;
}

@media (max-width: 1025px){
    .nav-mid{display: none}
    .button_menu{display: none}
}


/*Grid1*/
.container_1{
    padding: 120px 140px;
    padding-bottom: 0px;
}
.container_1_text{
    font-family: proxima-nova,Roboto,Arial,san-serif;
    line-height: 60%;
}

.container_1_text a{
    text-decoration: none;
    font-size: 14px;
}

.container_1_text span{
    color:#b2281F;
    font-weight: bold;
}
.container_1_text button{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
.container_2_text-2 img{
    padding-bottom: 11%;
}

.container_3_text a, .container_3_text_1 a{
    text-decoration: none;
    font-weight: bold;
}
.container_1_text a:hover, .container_3_text a:hover, .container_3_text_1 a:hover{
    color: #0D65FDFF;
    text-decoration: none;
}

.section-2{
    width: 100%;
    border-top: 2px solid black;
    margin-top: 10%;
    padding-top: 10%;
}


.more-button{
    margin: auto;
    font-family: proxima-nova, Roboto, Arial, san-serif;
    display: block;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    background-color: #222;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    cursor: pointer;
}

.more-button:hover{
    background-color: dodgerblue;
}

.latest-news-item-text{
    position: absolute;
    bottom: 30px;
    left: 16px;
}

.latest-news-item-text-top{
    background-color: #98ba48;
    position: relative;
    bottom: 0.1rem;
    left: 0;
    color: white;
    font-family: proxima-nova,Roboto,Arial,san-serif;
    font-size: 0.7rem;
    font-weight: 400;
    z-index: 9;
}

.latest-news-item-text-headline{
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.01rem;
    font-weight: 700;
    color: white;
    text-shadow: 0px 1px 1px black;
    font-family: proxima-nova,Roboto,Arial,san-serif;
    text-rendering: optimizeLegibility;
}


@media (max-width: 768px) {
    .just_in_col{display: none}
    .container_1_text{
        padding: 15%;
    }
    .container_2_text img{
        width: 100%;
        height: 100%;
    }
    .container_journal{
        display: none;
    }

    .container_2_text-2{
        display: none;
    }
    .container_3_text img{
        width: 100%;
        height: 100%;
        padding-top: 10%;
    }
    .container_3_text a{
        font-size: 12px;
        line-height: 0.5px;
    }

}
@media (min-width: 768px) and (max-width: 992px){
    .just_in_col{display: none}
    .container_1{
        padding: 10%;
    }
    .container_2_text img{
        width: 101%;
        height: 100%;
    }
    .container_journal img{
        width: 98%;
        height: 98%;
    }

    .container_2_text-2{
        display: none;
    }
    .container_3_text img{
        width: 105%;
        height: 100%;

    }
    .container_3_text a{
        font-size: 12px;
        line-height: 0.5px;
    }
}


/*Grid2*/
.container_2{
    padding: 50px 140px;
}

.container_2 h1{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.section{
    width: 33.33%;
    border-top: 4px solid black;
    padding-top: 5px;
    padding-bottom: 4px;
}


.trending_container a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}
.trending_container a:hover{
    color: #0D65FDFF;
    text-decoration: none;
}

.trending_container h6{
    color: gray;
    display: inline;
    font-size: 12px;
}

.section-local{
    width: 33.33%;
    border-top: 4px solid #e2cd3e;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 6px;
    margin-top: 80px;
}
.local_row{
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid lightgrey;
}
.local_row a, .local_row_2 a{
    text-decoration: none;
}
.local_row a:hover, .local_row_2 a:hover{
    color: #0D65FDFF;
    text-decoration: none;
}

.row_button a, .row_button-2 a, .row_button-3 a{
    width: 45%;
    margin-top: 10px;
}
.row_button button, .row_button-2 button, .row_button-3 button{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.row_button button:hover{
    background-color: #e2cd3e;
    border: #e2cd3e;
}

.section-sports{
    width: 33.33%;
    border-top: 4px solid #d48e45;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 6px;
    margin-top: 80px;
}


.row_button-2 button:hover{
    background-color: #d48e45;
    border: #d48e45;
}

.section-business{
    width: 33.33%;
    border-top: 4px solid #6495ED;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 6px;
    margin-top: 80px;
}


.row_button-3 button:hover{
    background-color: #6495ED;
    border: #6495ED;
}

@media (max-width: 768px){
    .container_2{
        padding: 15%;
    }
    .container_3_text_1 img {
        width: 100%;
        height: 100%;
        padding-top: 10%;
    }

    .container_3_text_1 a {
        font-size: 12px;
        line-height: 0.5px;
    }
    .container_3_text_1 p {
        font-size: 8px;
        line-height: 0.5px;
        padding-top: 3%;
    }

    .trending_container {
        padding-top: 70px;
    }

    .trending-col a{
        font-size: 15px;
    }
    .trending-col h6{
        font-size: 9px;
    }

    .text{
        padding-left: 13%;
    }
    .text a{
        font-size: 12px;
    }

    .text_2{
        margin-bottom: 3%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container_2{
        padding: 10%;
    }
    .container_3_text_1 img {
        width: 105%;
        height: 100%;
    }

    .container_3_text_1 a {
        font-size: 12px;
        line-height: 0.5px;
    }

    .container_four_2 img{
        width: 98%;
        height: 10%;
    }

    .trending_container {
        padding-top: 90px;
    }

    .trending-col a{
        font-size: 14px;
    }
    .trending-col h6{
        font-size: 8px;
    }

    .text{
        padding-left: 10%;
    }

    .text_2{
        margin-bottom: 3%;
    }
}

.footer{
    color: white;
    padding: 2rem 0;
    font-family: proxima-nova,Roboto,Arial,san-serif;
    width: 380px;
    height: 300px;
}

.footer_text{
    width: 100%;
    background-color: #e7e7e7;
}

.left_col{
    float: left;
    width: 50%;
    background-color: #e7e7e7;
}

.right_col{
    float: right;
    width: 50%;
    background-color: #e7e7e7;
}

.left_col ul, .right_col ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left_col ul li, .right_col ul li{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}


.left_col ul li a, .right_col ul li a{
    color: black;
    text-decoration: none;
    font-weight: normal;
}

@media (max-width: 768px){
    .footer{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .footer{
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .footer{
        margin-left: 1140px;
    }
}